page-pagamento-forma {
  .btn-pagamento{
    margin-right: 5%;
    text-align: right !important;
  }

  .texto-pagamento{
    padding-top: 5%;
    text-align: center;
    font-size: 1.3em;
    color: gray;
  }
}
